<div class="h-screen flex justify-center items-center p-11">
    <div class="w-[50%] border rounded-2xl h-full p-8 bg-slate-200 shadow-2xl">
        <div class="flex items-center gap-1">
            <p>Name:</p>
            <p>{{user?.firstname}} {{user?.lastname}}</p>
        </div>
        <div class="flex items-center gap-1">
            <p>Email:</p>
            <p>{{user?.email}}</p>
        </div>
        <div class="flex items-center gap-1">
            <p>Address:</p>
            <p>{{user?.address.street}}</p>
        </div>
        <div class="flex items-center gap-1"> 
            <p>Phone:</p>
            <p>{{user?.phone}}</p>
        </div>
        <div class="flex items-center gap-1">
            <p>Website:</p>
            <p>{{user?.website}}</p>
        </div>
        <div class="flex items-center gap-1">
            <p>Company:</p>
            <p>{{user?.company.name}}</p>
        </div>
    </div>
</div>