<div class="h-screen relative flex justify-center items-center">
    <img src="../../../assets/images/circle-scatter-haikei.svg" alt=""
        class="absolute object-cover w-full h-full top-0 left-0">
    <div class="backdrop-blur-sm bg-[#ffffff21] shadow-sm text-[#F5F5F5] w-max px-6 pt-7 pb-4 rounded-md ">
        <p class="text-center text-[43px] tracking-[5px]">Login</p>
        <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col mb-3 gap-1">
                <label for="username">Username</label>
                <input type="text" placeholder="Email or Phone"
                    class="p-3 w-[325px] bg-[#00000040] rounded-md outline-none" formControlName="username">
            </div>
            <div class="flex flex-col mb-3 gap-1">
                <label for="Password">Password</label>
                <input type="password" placeholder="Password"
                    class="p-3 w-[325px] bg-[#00000040] rounded-md outline-none" formControlName="password">
            </div>
            <button class="bg-[#F5F5F5] w-full py-3 px-4 text-[#1a1a1a] text-center text-[20px] font-medium mb-3 "
                mat-raised-button>Login
            </button>
        </form>
        <div>
            <div class="flex items-center gap-4">
                <button class="w-full flex justify-center backdrop-brightness-75 p-3">
                    <div class="flex items-center gap-1">
                        <img src="../../../assets/icons/google.png" alt="" class="h-6">
                        <p>Google</p>
                    </div>
                </button>
                <button class="w-full flex justify-center backdrop-brightness-75 p-3">
                    <div class="flex items-center gap-1">
                        <img src="../../../assets/icons/facebook.png" alt="" class="h-6">
                        <p>Facebook</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>